@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&display=swap');

:root {

    --fonte-titulo: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to right, rgb(63, 27, 27), rgb(83, 35, 35), rgb(61, 42, 42));
    color: white;
    font-family: 'Poppins';
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.cabecalho {
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.isaelsoares {
    text-align: center;
    flex-direction: column;
    line-height: 40px;
    padding-left: 10px;
}

.menu {
    font-size: 24px;
    font-family: 'bebas Neue';
    margin: 20px ;
    display: inline-block;
    color: white;
    text-decoration: none;
}

a {
    transition-duration: 0.3s;
    text-decoration: none;
    color: white;
    margin: 20px;
}

a:hover {
    color: red;
}

.conta {
    transition-duration: 0.3s;
    padding: 15px;
    border: 2px solid red;
    border-radius: 50px;
}

.conta:hover {
    background-color: red;
    color: rgb(255, 255, 255);
}

main {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

h2 {
    font-size: 56px;
    line-height: 60px;
}

.inscreva {
    color: red;
}

p {
    max-width: 500px;
    text-justify: auto;
    padding-top: 5px;
    padding-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: red;
    color: rgb(255, 255, 255)
   
}

form [type="submit"]:hover { 
    cursor: pointer;
}

img {
    margin: -70px 0px 0px 0px;
}